body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  text-align: left;
}

header,
main,
footer {
  margin: 0 auto;
  width: 50%
}

.offpage {
  position: absolute;
  left: -1000px
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 30px;
}

nav a {
  text-decoration: none;
  color: #8a9999;
}

.active,
nav a:hover {
  color: #30474a;
}

nav img {
  width: 10%;
  height: auto;
  margin-right: 5px;
}


main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 75%;
  text-align: left;
}

.active a {
  color: #30474a !important;
}

h1 {
  color: #bc4e29;
  font-size: 200%;
  text-align: center;
}

p {
  line-height: 30px;
}

#social {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px 50px;
  justify-content: space-evenly;
}

#social img {
  width: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #30474a;
}

#social img:hover {
  border-color: #8a9999;
  transform: scale(1.05);
}

#parks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#parks img {
  width: 17%;
  height: auto;
  margin: 10px;
}

/* figure a,
#thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

figcaption {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  margin: 15px;
  color: #30474a;
}

html {
  background-color: #fdf9ed;
}

footer {
  font-size: 60%;
  color: #8a9999;
  margin-top: 100px;
  margin-bottom: 100px;
}

ol a,
.table_of_contents a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #30474a;
}

.table_of_contents li,
ol li {
  color: #30474a
}

ol li {
  list-style-type: none;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #50b2b4;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px #4a5355;
  margin-right: 30px;
}

button:hover {
  background-color: #539293;
}

button:active {
  background-color: #539293;
  box-shadow: 5px 5px #4a5355;
  transform: translateY(4px);
}

#thumbnail {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
}

#thumbnail img,
div img {
  border-radius: 10px;
  width: 100%;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #23373e;
  opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 10px;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 50px;
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}